venv/
app/sso/settings/live.py
app/sso/settings/dev.py
db.sqlite3
*.egg-info
*.pot
*.pyc
.tox/
.idea/
.coverage
htmlcov/
__pycache__/
htdocs/
app/eric/settings/dev.py
app/eric/media
**.pyc
**.pyo
**.nfs**
**.sass-cache
